<h1>Public Recipes</h1>

  <div>
    <% @recipes.each do |recipe| %>
        <div class="recipe">
          <div class="sub">
            <h2><%= recipe.name %> <span>by <%= recipe.user.name %></span></h2>
            <span>
              <%= link_to 'Details', recipe %>
              <% if current_user && recipe.user_id === current_user.id %>
                <%= link_to 'Delete', recipes_delete_url(recipe), method: :delete, class: 'delete', data: { confirm: 'Are you sure?' } %>
              <% end %>
            </span>
          </div>
          <p><%= recipe.description %></p>
        </div>
    <% end %>
  </div>
