<div class="form">
  <%= form_with(model: recipe) do |form| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= form.text_field :name, size:"73x10", placeholder:"Recipe Name" %>
      </div>
      <div class="">
        <%= form.text_area :description, size:"37x5", placeholder:"Recipe Descrption" %>
      </div>
      <div class="">
        <h4>Preparation Time</h4>
        <%= form.time_field :preparation_time %>
      </div>
      <div class="">
        <h4>Cooking Time</h4>
        <%= form.time_field :cooking_time %>
      </div>
      <div class="check">
        <%= form.check_box :public %>
        <%= form.label :public %>
      </div>
      <%= form.submit "Submit New Recipe"%>
    <% end %>
</div>
