<h1>Recipes</h1>

  <div>
    <% @recipes.each do |recipe| %>
        <div class="recipe">
          <div class="sub">
            <h2><%= recipe.name %></h2>
            <span>
              <%= link_to 'Show', recipe %>
              <%= link_to 'Edit', edit_recipe_path(recipe) %>
              <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </div>
          <p><%= recipe.description %></p>
        </div>
        
    <% end %>
  </div>

<br>

<%= link_to 'New Recipe', new_recipe_path, :class => 'center-link' %>
