<div class="form">
  <%= form_with(model: food) do |f| %>
       <div class= "form-group">
      <%= f.label :name%> 
      <div>
      <%= f.text_field :name,   class:"form-control", placeholder: "Enter food name", autofocus: true %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :measurement_unit %> 
      <div>
      <%= f.text_field :measurement_unit, class:"form-control", placeholder: "Enter measurement unit (e.g: kg", autofocus: true %>
      </div>
    </div>


    <div class= "form-group" >
      <%= f.label :price %> 
      <div>
      <%= f.number_field :price,   class:"form-control", autofocus: true %>
      </div>
    </div>

    <div class= "form-group" >
      <%= f.label :quantity %> 
      <div>
      <%= f.number_field :quantity,   class:"form-control", autofocus: true %>
      </div>
    </div>
    
    <div class= "form-group" >
      <div></div>
      <%= f.submit%>
    </div>
    <% end %>
</div>
